.header {
    display: flex;
    font-weight: 200;
    font-family: cursive;
    font-size: medium;

}


.header-list {
    padding-right: 80px;
    padding-left: 50px;
    color: blue;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.button {
    color: ghostwhite;
    background-color: rgba(255, 0, 0, 0.747);
    width: 100px;
    height: 50px;
}

.button:hover {
    background-color: red;
}

#button-element {
    display: flex;
    justify-content: center;

}

.about {
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    font-size: medium;
}

#gallery {
    padding-top: 20px;
}

#galler {
    padding-top: 20px;
}

#image {
    width: 500px;
}

@media all and (max-width: 1000px) {
    .header-list {
        padding-right: 20px;
        padding-left: 20px;
    }

    #image {
        width: 300px;
        padding-left: 10%;

    }

    .cake {
        width: 200px;
    }

    .cake1 {
        width: 150px;
    }

    .cake2 {
        width: 150px;
    }

}