 html {
     scroll-behavior: smooth;
 }

 .background-image {
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;

 }

 .header {
     display: flex;
     font-weight: 200;
     font-family: cursive;
     font-size: medium;

 }


 .header-list {
     padding-right: 144px;
     padding-left: 50px;
     color: blue;
     
 }

 #logo {
     width: 150px;
     height: 150px;
     border-radius: 50%;
 }


 .button {
     color: ghostwhite;
     background-color: rgba(255, 0, 0, 0.747);
     width: 100px;
     height: 50px;
 }

 .button:hover {
     background-color: red;
 }



 #button-element {
     display: flex;
     justify-content: center;

 }

 .about {
     display: flex;
     justify-content: space-between;
     font-weight: 200;
     font-size: medium;
 }

 #gallery {
     padding-top: 20px;
     
 }
 

 #image {
     width: 500px;
 }

 #footer {
     display: flex;
     justify-content: center;
     background-color: #000;
     color: #fff;
 }

 @media all and (max-width: 500px) {
     .header-list {
         padding-right: 20px;
         padding-left: 10px;
     }

     #image {
         width: 130px;
         padding-left: 10%;

     }

     .cake {
         width: 160px;
     }

     .cake1 {
         display: none;

     }

     .cake2 {
         display: none;
     }


     .background-image {
         background-position: center center;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;

     }

     #head1 {
         display: none;
     }

     #head2 {
         display: none;
     }

     #footer {
        display: flex;
        justify-content: center;
        background-color: #000000d2;
        color: #fff;
    }

    
 .header-list {
     
    font-size: xx-small;
}
 }


  /* second responsive setting */
 @media (min-width:500.1px) and (max-width: 700px){
    .header-list {
        padding-right: 40px;
        padding-left: 10px;
    }

    #image {
        width: 216px;
        padding-left: 10%;

    }

    .cake {
        width: 237px;
    }

    .cake1 {
        display: none;
    }

    .cake2 {
        display: none;
    }


    .background-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }

    

    #footer {
       display: flex;
       justify-content: center;
       background-color: #000000d2;
       color: #fff;
   }
 }



 /* third responsive setting */
 @media (min-width:701px) and (max-width: 1000px){
    .header-list {
        padding-right: 40px;
        padding-left: 50px;
    }

    #image {
        width: 230px;
        padding-left: 10%;

    }

    .cake {
        width: 230px;
    }

    .cake1 {
        width: 170px;  
      }

    .cake2 {
  width: 170px;
    }


    .background-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }

     

    
    #footer {
       display: flex;
       justify-content: center;
       background-color: #000000d2;
       color: #fff;
   }
 }